<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta name="viewport" content="initial-scale=1">
<title>MovieApp</title>
</head>
<body>
<div th:replace="fragments/header"></div>
<div>
	<h1>EditPage</h1>

	<p>
		<a href="/admin/add-movie">(+) Add movie</a>
	</p>

	<table>
		<tr th:each="movie : ${movies}">
			<td th:id="${movie.id}"></td>
			<td th:text="${movie.title}"></td>
			<td><a th:href="@{/admin/delete-movie/{id}(id=${movie.id})}">Delete</a></td>
			<td><a th:href="@{/admin/edit-movie/{id}(id=${movie.id})}">Edit</a></td>
		</tr>
	</table>
		<p>
			<a href="/admin/edit-genres">Edit genres</a>
		</p>
		<p>
		<a href="/movie-app">Back to the main page</a>
	</p>
	
</div>
</body>
</html>