<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>MovieApp</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />

</head>
<body>

	<div class="page-contents">
		<div class="back-navigation">
			<a th:href="@{/movie-app}">Back</a>
		</div>

		<!-- show one selected movie -->
		<div class="row">
			<div class="col-6" th:object="${movie}">
				<h1 th:text="*{title}"></h1>
				<p th:text="*{director}"></p>

				<!-- actors names -->
				<th:block th:each="actor : ${movie.actors}">
					<tr>
						<th th:text="${actor.name}"></th>
					</tr>
				</th:block>

				<p th:text="*{description}"></p>
				<p th:text="*{year}"></p>
				<p th:text="*{genre.name}"></p>
			</div>
		</div>
	</div>
</body>
</html>